.container {
  display: grid;
  gap: 1.5rem;
}

.card {
  border-radius: 1rem;
  padding: 1rem;

  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
  gap: 1.5rem;
  background-color: var(--surface3);
}

.card > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.card li {
  color: var(--text3);
  background-color: var(--surface2);
  padding: 0.25em 1em;
  border-radius: 10rem;
}

@media screen and (min-width: 48em) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
