---
import AnimatedBackground from "../components/AnimatedBackground.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Md Azharuddin">
  <div class="test">
    <AnimatedBackground>
      <h1>Test</h1>
    </AnimatedBackground>
  </div>
</Layout>

<style>
  .test {
    --color: red;
  }
</style>
