---
interface Props {
  data: string;
}

const { data } = Astro.props;
---

<span class="chip">
  {data}
</span>

<style>
  .chip {
    display: inline-block;
    background-color: var(--surface2);
    color: var(--text3);
    padding: 0.25em 1em;
    margin: 0.25em;
    border-radius: 10em;
  }
</style>
