---
interface Props {
  sectionTitle: string;
  id: string;
  class?: string;
}

const { sectionTitle, id, class: className, ...rest } = Astro.props;
---

<section id={id} class={className} {...rest}>
  <div class="title-container">
    <h2>{sectionTitle}</h2>
  </div>
  <div>
    <slot />
  </div>
</section>

<style>
  .title-container {
    position: sticky;
    background-color: hsl(var(--bg-hsl) / 0.75);
    color: var(--text1);
    top: 0;
    text-transform: uppercase;
    padding-block: 1em;
    backdrop-filter: blur(6px);
    z-index: 10;
  }

  div {
    padding-inline: 1.5rem;
  }

  @media screen and (min-width: 64em) {
    .title-container {
      display: none;
    }

    div {
      padding-inline: 0;
    }
  }
</style>
