---
interface Props {
  sectionTitle: string;
  id: string;
}

const { sectionTitle, id } = Astro.props;
---

<section id={id}>
  <div class="title-container">
    <h2>{sectionTitle}</h2>
  </div>
  <div class="content | flow">
    <slot />
  </div>
</section>

<style>
  .title-container {
    position: sticky;
    background-color: hsl(var(--bg-hsl) / 0.75);
    color: var(--text1);
    top: 0;
    text-transform: uppercase;
    padding-block: 1em;
    margin-inline: calc(-1 * var(--gap-2));
    padding-inline: var(--gap-2);
    backdrop-filter: blur(6px);
    z-index: 10;
  }

  h2 {
    font-size: var(--fs-2);
  }

  .content {
    --flow-gap: var(--gap-2);
  }

  @media screen and (min-width: 51em) {
    .title-container {
      display: none;
    }
  }
</style>
