---
import "@fontsource/poppins";

import "../styles/reset.css";
import "../styles/root.css";
import "../styles/global.css";
import MouseTrailer from "../components/MouseTrailer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="hsl(21 46% 46%)" />
    <link rel="icon" type="image/svg+xml" href="/profile-v1/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="/profile-v1/theme-init.js" is:inline></script>
  </head>
  <body>
    <MouseTrailer />
    <div class="wrapper">
      <slot />
    </div>
  </body>
</html>

<style>
  .wrapper {
    margin-inline: var(--gap-2);
  }

  @media screen and (min-width: 51em) {
    .wrapper {
      max-width: 80rem;
      margin-inline: auto;
      padding-inline: var(--gap-1);
    }
  }
</style>

<script>
  console.log(
    "%cCreated by Md Azharuddin",
    "color: black; background-color: orange; padding: 0.5rem 1rem; border-radius: 1rem;"
  );
</script>
