---
import "@fontsource/poppins";

import "../styles/reset.css";
import "../styles/root.css";
import "../styles/global.css";
import MouseTrailer from "../components/MouseTrailer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="/theme-init.js" is:inline></script>
  </head>
  <body>
    <MouseTrailer />
    <div class="wrapper">
      <slot />
    </div>
  </body>
</html>

<style>
  .wrapper {
    margin-inline: auto;
    max-width: 80rem;
    /* padding-inline: 1.5rem;
    padding-block: 3rem; */
  }

  @media screen and (min-width: 64em) {
    .wrapper {
      padding-inline: 6rem;
      padding-block: 0;
    }
  }
</style>
